/* Power profiles selector — Tokyo Night Storm */
@import "~/.config/rofi/config.rasi"

window {
    width:            170px;
    location:         north east;
    y-offset:         42;
    padding:          10;
    border-radius:    10px;
}

listview {
    lines:   4;
    columns: 1;
}

inputbar {
    children: [ prompt, textbox-prompt-colon, entry, case-indicator ];
}

textbox-prompt-colon {
    expand: false;
    str:    "Set Power Profile:";
    margin: 0 4px 0 0;
}
