/* Key hint menu — Tokyo Night Storm */
@import "~/.config/rofi/config.rasi"

configuration {
    show-icons:          false;
    display-drun:        "KeyHint";
}

window {
    padding: 30;
}

listview {
    lines:   10;
    columns: 1;
}
